@media (prefers-color-scheme: light) {
  :root {
    /* TODO */
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --text-color: whitesmoke;
    --text-color-accent: rgb(190, 190, 190);
    --bg-color-primary: #191919;
    --bg-color-secondary: rgb(33, 37, 41);
    --bg-color-accent: rgb(42, 48, 53);
  }
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: var(--bg-color-primary);
  color: var(--text-color);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  flex-direction: row;
}

/* Make the navigation pane on mobile/portrait scroll out of view instead of obscuring the viewport */
@media screen and (max-width: 500px) {
  body {
    display: block;
  }
}

a {
  color: lightskyblue;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.sidebar {
  flex: 1;
  background-color: var(--bg-color-secondary);
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}

.sidebar .sub-header {
  margin-top: 0px;
  margin-bottom: 0px;
}

main {
  flex: 6;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0 2rem;
}

ul.breadcrumb,
.sidebar ul {
  padding: 0;
  list-style: none;
}

/* Display list items side by side */
ul.breadcrumb li {
  display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li + li:before {
  padding: 8px;
  color: var(--text-color);
  content: "/\00a0";
}

table,
th,
td {
  border: thin solid dimgray;
  border-collapse: collapse;
  padding: 0.5em;
}

blockquote {
  background-color: var(--bg-color-secondary); 
  font-style: italic;
  padding: 0.5em;
  border-left: 0.75em solid var(--bg-color-accent);
}

pre {
  font-size: larger;
  padding: 1em;
  background-color: var(--bg-color-secondary);
}

code {
  line-height: 1.5;
}