<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>gridlocdev's notes</title>
    <link id="ssg-inject-stylesheet" rel="stylesheet" href="">
</head>

<body>
    <nav class="sidebar">
        <h2>Gridlocdev's Notes</h2>
        <h3 id="ssg-inject-sidebar-subheader" class="sub-header">Home</h3>
        <ul id="ssg-inject-sidebar-links">
            <!-- Sidebar elements injected here -->
        </ul>
    </nav>

    <main>
        <a name="top" />
        <ul id="ssg-inject-breadcrumb-links" class="breadcrumb">
            <!-- Breadcrumb navigation elements injected here -->
        </ul>

        <article id="ssg-inject-content">
            <!-- Page content injected here -->
        </article>

        <hr>
        <a href="#top"><strong>Return to Top</strong></a>
    </main>
</body>

</html>